body{
    margin: 0px;
}

/* 
.red{
    height: 100px;
    width: 100px;
    background-color: red;
    display: inline-block;
    position: relative;
    left:200px;
}
.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    position: relative;
    right:100px;
}
.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: inline-block;
    position: relative;
    right:100px;
} */

.red{
    height: 100px;
    width: 100px;
    background-color: red;
    display: inline-block;
    position: absolute;
    top: 200px;
    left: 200px
}
.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px
}
.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: inline-block;
    position: fixed;
    top:0px;
}

/* There are three types of display-: 
Block, Inline and Inline-block.
In block we can adjust width but cannot control positioning.
In inline we can't adjust width but can control positioning.
In inline-block we can do both. */


/* Position types
Static, Relative, Absolute, fixed. */